section#blog {
	background-color: $lightGray;

	h2 {
		margin-bottom: 35px;
	}

	.card_wrapper {
		flex-direction: column;

		@include breakpoint(medium) {
			align-items: flex-start;
		}

		& > div {
			margin-bottom: 30px;

			@include breakpoint(medium) {
				margin-right: 30px;
			}

			&:last-child {
				@include breakpoint(medium) {
					margin-right: 0;
				}
			}
		}

		@include breakpoint(medium) {
			flex-direction: row;
		}

		.card {
			background-color: $white;
			border-radius: 5px;

			&_image {
				border-radius: 5px 5px 0 0;
        overflow: hidden;
        width: 100%;

				@include breakpoint(medium) {
					height: 162px;
				}
			}

			&_info {
				text-align: left;
				padding: 30px;

				small {
					color: rgba(0, 0, 0, 0.35);
				}
			}
		}
	}
}
