section#blog {
	background-color: $lightGray;

	h2 {
		margin-bottom: 35px;
	}

	.card_wrapper {
		flex-direction: column;

		& > div {
			margin-bottom: 30px;

			@include breakpoint(medium) {
				margin-right: 30px;
			}
		}

		@include breakpoint(medium) {
			flex-direction: row;
		}

		.card {
			background-color: $white;
			border-radius: 5px;

			&_image {
				border-radius: 5px 5px 0 0;
				overflow: hidden;
				// width: 500px;
				// height: 150px;
			}

			&_info {
				text-align: left;
				padding: 30px;

				small {
					color: rgba(0, 0, 0, 0.35);
				}
			}
		}
	}
}
