header {
	nav {
		.container {
			padding: 25px 20px;

			@include breakpoint(medium) {
				padding: 0px 20px;
			}
		}

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		background-color: #fff;

		button#hamburger {
			border: 0;
			background-color: transparent;
			cursor: pointer;

			&:focus {
				outline: none;
			}

			.close {
				display: none;
			}

			&.show .open {
				display: none;
			}

			&.show .close {
				display: block;
			}

			@include breakpoint(medium) {
				display: none;
			}
		}

		button.invite {
			display: none;

			@include breakpoint(medium) {
				display: block;
			}
		}

		ul#menu {
			list-style: none;
			display: none;
			transform: translateY(-100%);
			animation: slidedown 0.8s ease forwards;

			@include breakpoint(medium) {
				display: flex;
			}

			&.show {
				background-color: #fff;
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				align-items: center;
				position: fixed;
				top: 90px;
				left: 20px;
				right: 20px;
				margin: 0;
				padding: 20px 0;
				width: calc(100vw - 40px);
				z-index: 100;

				@keyframes slidedown {
					to {
						transform: translateY(0);
					}
				}
			}

			li {
				line-height: 2.5;
				position: relative;

				a {
					text-decoration: none;
					color: $blue;

					@include breakpoint(medium) {
						color: rgba(0, 0, 0, 0.35);
						margin-right: 20px;

						&:hover {
							color: $blue;

							&::after {
								position: absolute;
								content: '';
								bottom: -15px;
								left: 0;
								background: linear-gradient(to left, $cyan, $lime);
								width: 55px;
								height: 4px;
							}
						}
					}
				}
			}
		}
	}
}
