section#home {
	.container {
		@include breakpoint(medium) {
			padding-bottom: 0px;
		}
	}
	.mobile-reverse {
		display: flex;
		flex-direction: column-reverse;

		@include breakpoint(medium) {
			flex-direction: row;
		}
	}

	.home__info {
		margin-top: -35%;

		@include breakpoint(medium) {
			margin-top: 0;
		}

		p {
			margin-bottom: 30px;

			@include breakpoint(medium) {
				width: 400px;
			}
		}
	}
	.home__mockups {
		background-image: url('../images/bg-intro-mobile.svg');
		background-repeat: no-repeat;
		background-position: right bottom;
		width: 100vw;
		transform: translateY(-35%);

		@include breakpoint(medium) {
			transform: translateX(0%);
			background-image: url('../images/bg-intro-desktop.svg');
			background-repeat: no-repeat;
			background-position: center left;
      background-size: 200% auto;

      img {
        transform: translateX(20%);
      }
		}
	}
}
