@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}

.overlay {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.show {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 40px 20px 70px;
  width: 1200px;
  max-width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    text-align: left;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#home,
#blog {
  background-color: #fafafa;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  color: #2d314d;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
}

h2 {
  font-size: 1.6em;
  font-weight: 300;
}

h3 {
  font-size: 1.1em;
  font-weight: 300;
}

p {
  color: rgba(0, 0, 0, 0.35);
  line-height: 1.5;
}

button.invite {
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  background-image: -webkit-gradient(linear, right top, left top, from(#2bb7da), color-stop(50%, #31d35c), to(#2bb7da));
  background-image: linear-gradient(to left, #2bb7da 0%, #31d35c 50%, #2bb7da 100%);
  background-size: 200% auto;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fafafa;
  border: 0;
  outline: none;
  padding: 13px 30px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button.invite:hover {
  background-position: right center;
  opacity: 0.9;
}

header nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
}

header nav .container {
  padding: 25px 20px;
}

@media screen and (min-width: 768px) {
  header nav .container {
    padding: 0px 20px;
  }
}

header nav button#hamburger {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

header nav button#hamburger:focus {
  outline: none;
}

header nav button#hamburger .close {
  display: none;
}

header nav button#hamburger.show .open {
  display: none;
}

header nav button#hamburger.show .close {
  display: block;
}

@media screen and (min-width: 768px) {
  header nav button#hamburger {
    display: none;
  }
}

header nav button.invite {
  display: none;
}

@media screen and (min-width: 768px) {
  header nav button.invite {
    display: block;
  }
}

header nav ul#menu {
  list-style: none;
  display: none;
}

@media screen and (min-width: 768px) {
  header nav ul#menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header nav ul#menu.show {
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 90px;
  left: 20px;
  right: 20px;
  margin: 0;
  padding: 20px 0;
  width: calc(100vw - 40px);
  z-index: 100;
}

header nav ul#menu li {
  line-height: 2.5;
  position: relative;
}

header nav ul#menu li a {
  text-decoration: none;
  color: #2d314d;
}

@media screen and (min-width: 768px) {
  header nav ul#menu li a {
    color: rgba(0, 0, 0, 0.35);
    margin-right: 20px;
  }
  header nav ul#menu li a:hover {
    color: #2d314d;
  }
  header nav ul#menu li a:hover::after {
    position: absolute;
    content: '';
    bottom: -15px;
    left: 0;
    background: -webkit-gradient(linear, right top, left top, from(#2bb7da), to(#31d35c));
    background: linear-gradient(to left, #2bb7da, #31d35c);
    width: 55px;
    height: 4px;
  }
}

section#home .mobile-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  section#home .mobile-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

section#home .home__info {
  margin-top: -35%;
}

@media screen and (min-width: 768px) {
  section#home .home__info {
    margin-top: 0;
  }
}

section#home .home__info p {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  section#home .home__info p {
    width: 400px;
  }
}

section#home .home__mockups {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  width: 100vw;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}

@media screen and (min-width: 768px) {
  section#home .home__mockups {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
  }
}

section#about {
  background-color: #f3f4f6;
}

section#about .container {
  padding-bottom: 28px;
}

section#about ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  section#about ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

section#about ul li {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  section#about ul li {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  section#about ul li:last-of-type {
    margin-right: 0;
  }
}

section#blog {
  background-color: #fafafa;
}

section#blog h2 {
  margin-bottom: 35px;
}

section#blog .card_wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  section#blog .card_wrapper {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

section#blog .card_wrapper > div {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  section#blog .card_wrapper > div {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  section#blog .card_wrapper > div:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  section#blog .card_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

section#blog .card_wrapper .card {
  background-color: white;
  border-radius: 5px;
}

section#blog .card_wrapper .card_image {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 768px) {
  section#blog .card_wrapper .card_image {
    height: 162px;
  }
}

section#blog .card_wrapper .card_info {
  text-align: left;
  padding: 30px;
}

section#blog .card_wrapper .card_info small {
  color: rgba(0, 0, 0, 0.35);
}

section#blog .card_wrapper .card_info a {
  text-decoration: none;
}

section#blog .card_wrapper .card_info a h3:hover {
  color: #1bd7bb;
}

footer {
  background-color: #2d314d;
  color: #c7c7c7;
}

footer .container {
  padding-bottom: 30px;
}

footer .footer_info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 35px;
}

@media screen and (min-width: 768px) {
  footer .footer_info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

footer .footer_info > ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

footer .footer_info ul > li {
  margin-bottom: 25px;
  cursor: pointer;
}

footer .footer_info ul > li:hover {
  color: #1bd7bb;
}

footer .footer_info ul.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  footer .footer_info ul.social-media {
    -webkit-box-flex: 0.7;
        -ms-flex: 0.7;
            flex: 0.7;
    margin-right: 8em;
    margin-top: 0;
    margin-bottom: 0;
  }
}

footer .footer_info ul.social-media .icons-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px 0 20px 0;
}

footer .footer_info ul.social-media .icons-wrapper > li {
  cursor: pointer;
}

footer .footer_info ul.social-media li:not(:last-of-type) {
  margin-right: 15px;
}

.footer_info ul:nth-child(2) {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .footer_info ul:nth-child(2) {
    margin-top: 0;
  }
}

.footer_info div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .footer_info div:last-of-type {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }
}

.footer_info div:last-of-type p {
  color: #7a7a7a;
  margin-top: 30px;
}
/*# sourceMappingURL=styles.css.map */