html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: $font__primary;
	background-color: $offWhite;
	line-height: 1.7;
}

.container {
	width: 1380px;
	max-width: 100%;
	margin: 0 auto;
	padding: 30px 80px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid $offWhite;
	color: darken(#fff, 10%);
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 10px 25px;
	outline: none;
	cursor: pointer;

	&:hover {
		color: $violet;
		background-color: $offWhite;
	}
}

// Hero section

.hero__nav {
	justify-content: space-between;
	padding: 0 130px 10px;

	&__list {
		list-style-type: none;
	}

	&__item {
		margin-right: 20px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8rem;
		color: $grayishViolet;
		font-weight: 700;

		&.border {
			border: 1px solid $violet;
			padding: 9px 25px;
			color: $violet;

			&:hover {
				color: #fff;
				background-color: $violet;
			}
		}

		&:hover {
			color: $darkViolet;
		}
	}
}

.hero__info {
	background-color: $violet;
	padding: 50px 130px 100px;
	position: relative;

	&__desc {
		width: 485px;
	}

	&__heading {
		font-family: $font__secondary;
		color: $headings__color;
		font-size: $headings__size;
		line-height: 0.9;
		font-weight: $heading__weight;
		margin: 80px 0 0;
		position: relative;
	}

	& p {
		color: darken(#fff, 20%);
		font-size: $paragraph;
		margin: 35px 0;
	}

	&__img {
		position: absolute;
		right: 130px;
		top: 80px;

		img {
			width: 450px;
			height: 550px;
		}
	}
}

.pattern::before {
	content: '';
	position: absolute;
	background-image: url(../images/bg-pattern-intro-left-desktop.svg);
	background-repeat: no-repeat;
	width: 200px;
	height: 500px;
	bottom: -68%;
	left: 0;
}

.pattern::after {
	content: '';
  position: absolute;

	background-image: url(../images/bg-pattern-intro-right-desktop.svg);
	background-repeat: no-repeat;
	width: 200px;
	height: 400px;
	top: 0px;
  right: 0px;
}

.hero__info__heading::before {
	content: '';
	height: 1px;
	width: 130px;
	position: absolute;
	top: -50px;
	left: 0;
	background-color: $offWhite;
}

// Main section

.main .container {
}
