html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: $font__primary;
	background-color: $offWhite;
  line-height: 1.7;
  margin: 0;
}

.container {
	width: 1230px;
	max-width: 100%;
	margin: 0 auto;

	@include md {
		text-align: center;
	}
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;

	@include md {
		flex-direction: column;
	}
}

.flex > div {
	flex: 1;
	margin-right: 15px;

	&:last-of-type {
		margin-right: 0;
	}
}

button,
.btn {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid $offWhite;
	color: darken(#fff, 10%);
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 10px 25px;
	outline: none;
	cursor: pointer;
	display: inline-block;

	&:hover {
		color: $violet;
		background-color: $offWhite;
	}
}

@mixin heading {
	font-family: $font__secondary;
	color: $headings__color;
	font-size: $headings__size;
	line-height: 0.9;
	font-weight: $heading__weight;
	margin: 80px 0 0;
	position: relative;

	&::before {
		content: '';
		height: 1px;
		width: 130px;
		position: absolute;
	}
}

// Hero section

.hero__nav {
	justify-content: space-between;
	padding: 0 100px 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	background-color: $offWhite;

	@include lg {
		padding: 0 20px;
	}

	@include md {
		flex-direction: row;
	}

	.hamburger {
		display: none;

		&:focus {
			outline: none;
		}

		@include md {
      display: flex;
      border: 0;
      cursor: pointer;

			.close {
				display: none;
			}

			&.show .open {
				display: none;
			}

			&.show .close {
				display: block;
			}
		}
	}

	&__list {
		list-style-type: none;

		@include md {
			display: none;

			&.show {
				background-color: $violet;
        display: flex;
        justify-content: flex-start;
				position: fixed;
				padding-top: 30px;
				margin: 0;
				top: 50px;
				left: 0;
				width: 100vw;
				height: calc(100vh - 50px);
				z-index: 100;
			}
		}
	}

	&__item {
		margin-right: 20px;

		@include md {
			margin: 20px 0;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8rem;
		color: $grayishViolet;
		font-weight: 700;

		@include md {
			color: $offWhite;

			.btn-reverse {
				border-color: #fff;
				color: #fff;
			}
		}

		&.border {
			border: 1px solid $violet;
			padding: 9px 25px;
			color: $violet;

			@include md {
				color: #fff;
				border: 1px solid #fff;
			}

			&:hover {
				color: #fff;
				background-color: $violet;
			}
		}

		&:hover {
			color: $darkViolet;

			@include md {
				color: #fff;
			}
		}
	}
}

.hero__info {
	background-color: $violet;
	padding: 150px 100px 150px;
	position: relative;

	@include custom(1220) {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@include lg {
		flex-direction: column-reverse;
	}

	&__desc {
		width: 45%;

		@include custom(1220) {
			width: 500px;
		}
	}

	&__heading {
		@include heading;

		&::before {
			top: -30%;
			left: 0;
			background-color: $offWhite;

			@include lg {
				display: none;
			}
		}
	}

	& p {
		color: darken(#fff, 20%);
		font-size: $paragraph;
		margin: 30px 0;

		@include md {
			margin: 30px;
		}
	}

	&__img {
		position: absolute;
		right: 65px;
		top: 20%;

		@include custom(1230) {
			position: relative;
			padding: 50px 0 0 100px;
		}

		@include lg {
			padding-left: 130px;
		}

		@include md {
			display: none;
		}

		img {
			width: 90%;

			@include custom(1230) {
				width: 100%;
			}
		}
	}
}

.hero__info__img__mobile {
	display: none;

	@include md {
		display: flex;
	}

	img {
		width: 100%;
	}
}

.pattern::before {
	content: '';
	position: absolute;
	background-image: url(../images/bg-pattern-intro-left-desktop.svg);
	background-repeat: no-repeat;
	width: 30%;
	height: 100%;
	bottom: -68%;
	left: 0;

	@include md {
		height: 40%;
		top: 0;
		transform: rotate(90deg);
	}
}

.pattern::after {
	content: '';
	position: absolute;
	background-image: url(../images/bg-pattern-intro-right-desktop.svg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 30%;
	height: 100%;
	top: 0;
	right: 0;

	@include md {
		top: 70%;
	}
}

// Main section

.main .container {
	padding: 130px 100px 100px;
}

.main {
	.flex {
		align-items: flex-start;
	}

	&__heading {
		@include heading;
		color: inherit;
		margin-top: 150px;
		padding: 50px 0 80px;

		@include lg {
			margin-top: 50px;
		}

		&::before {
			top: 0;
			left: 0;
			background-color: $grayishViolet;

			@include md {
				width: 170px;
				left: 35%;
			}
		}
	}

	img {
		height: 70px;
		width: 70px;
	}

	h3 {
		font-family: $heading__font;
		font-weight: $heading__weight;
		font-size: 1.4rem;
		margin: 10px 0;
	}

	p {
		font-size: $paragraph;
		color: $grayishViolet;
	}
}

// How-we-work section

.how-we-work {
	background-color: $violet;
	background-image: url(../images/bg-pattern-intro-right-desktop.svg);
	background-repeat: no-repeat;
	background-position: center right;
	width: 1030px;
	margin: 0 auto 120px;
	padding: 70px;

	@include lg {
		width: 100%;
	}

	.flex {
		justify-content: space-between;
	}

	h2 {
		@include heading;
		font-size: 2.5rem;
		margin: 0;
		line-height: 1;

		@include md {
			margin-bottom: 50px;
		}
	}
}

// Footer section
footer .container {
	padding: 50px 100px;
	background-image: url(../images/bg-pattern-footer-desktop.svg);
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.015);
}

.social-media {
	justify-content: space-between;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	ul {
		@include md {
			flex-direction: row;
			padding: 10px 0 0 0;
		}
	}

	ul > a {
		margin-right: 15px;

		&:last-of-type {
			margin-right: 0;
		}

		img {
			width: 20px;
			height: 20px;
		}
	}
}

.footer__nav {
	align-items: flex-start;

	@include md {
		align-items: center;
	}

	&__list {
		flex: 1;
		list-style-type: none;
		padding-left: 0;
	}

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8rem;
		color: $violet;
		font-weight: 700;

		&:hover {
			color: $grayishViolet;
		}
	}

	& .text-gray {
		color: $grayishViolet;

		&:hover {
			color: $violet;
		}
	}
}
