@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

// Fonts
$font__primary: 'Karla', sans-serif;
$font__secondary: 'DM Serif Display', serif;

// Sizes
$paragraph: 1rem;

// Colors
$violet: hsl(256, 26%, 20%);
$blue: hsl(216, 30%, 68%);
$darkViolet: hsl(270, 9%, 17%);
$grayishViolet: hsl(273, 4%, 51%);
$offWhite: hsl(0, 0%, 98%);

// Headings
$headings__color: hsl(0, 0%, 98%);
$headings__size: 3rem;
