@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #fafafa;
  line-height: 1.7;
}

.container {
  width: 1230px;
  max-width: 100%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
}

.flex > div:last-of-type {
  margin-right: 0;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fafafa;
  color: #e6e6e6;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 25px;
  outline: none;
  cursor: pointer;
}

button:hover {
  color: #2d2640;
  background-color: #fafafa;
}

.hero__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px 10px;
}

.hero__nav__list {
  list-style-type: none;
}

.hero__nav__item {
  margin-right: 20px;
}

.hero__nav__item:last-of-type {
  margin-right: 0;
}

.hero__nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #837d87;
  font-weight: 700;
}

.hero__nav__link.border {
  border: 1px solid #2d2640;
  padding: 9px 25px;
  color: #2d2640;
}

.hero__nav__link.border:hover {
  color: #fff;
  background-color: #2d2640;
}

.hero__nav__link:hover {
  color: #2b272f;
}

.hero__info {
  background-color: #2d2640;
  padding: 50px 100px 100px;
  position: relative;
}

@media (max-width: 1220px) {
  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 950px) {
  .hero__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.hero__info__desc {
  width: 45%;
}

@media (max-width: 1220px) {
  .hero__info__desc {
    width: 500px;
  }
}

.hero__info__heading {
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  font-size: 3.4rem;
  line-height: 0.9;
  font-weight: 400;
  margin: 80px 0 0;
  position: relative;
}

.hero__info__heading::before {
  content: '';
  height: 1px;
  width: 130px;
  position: absolute;
}

.hero__info__heading::before {
  top: -30%;
  left: 0;
  background-color: #fafafa;
}

@media (max-width: 950px) {
  .hero__info__heading::before {
    display: none;
  }
}

.hero__info p {
  color: #cccccc;
  font-size: 0.9rem;
  margin: 30px 0;
}

.hero__info__img {
  position: absolute;
  right: 65px;
  top: 20%;
}

@media (max-width: 1230px) {
  .hero__info__img {
    position: relative;
    padding: 50px 0 0 100px;
  }
}

@media (max-width: 950px) {
  .hero__info__img {
    padding-left: 130px;
  }
}

@media (max-width: 750px) {
  .hero__info__img {
    display: none;
  }
}

.hero__info__img img {
  width: 90%;
}

@media (max-width: 1230px) {
  .hero__info__img img {
    width: 100%;
  }
}

.hero__info__img__mobile {
  display: none;
}

@media (max-width: 750px) {
  .hero__info__img__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero__info__img__mobile img {
  width: 100%;
}

.pattern::before {
  content: '';
  position: absolute;
  background-image: url(../images/bg-pattern-intro-left-desktop.svg);
  background-repeat: no-repeat;
  width: 30%;
  height: 100%;
  bottom: -68%;
  left: 0;
}

.pattern::after {
  content: '';
  position: absolute;
  background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-position: left top;
  width: 30%;
  height: 100%;
  top: 0px;
  right: 0px;
}

.main .container {
  padding: 130px 100px 100px;
}

.main__heading {
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  font-size: 3.4rem;
  line-height: 0.9;
  font-weight: 400;
  margin: 80px 0 0;
  position: relative;
  color: inherit;
  margin-top: 150px;
  padding: 50px 0 80px;
}

.main__heading::before {
  content: '';
  height: 1px;
  width: 130px;
  position: absolute;
}

.main__heading::before {
  top: 0;
  left: 0;
  background-color: #837d87;
}

.main img {
  height: 70px;
  width: 70px;
}

.main h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 10px 0;
}

.main p {
  font-size: 0.9rem;
  color: #837d87;
}

.how-we-work {
  background-color: #2d2640;
  background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-position: center right;
  width: 1030px;
  margin: 0 auto 120px;
  padding: 70px;
}

@media (max-width: 950px) {
  .how-we-work {
    width: 100%;
  }
}

.how-we-work .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how-we-work h2 {
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  font-size: 3.4rem;
  line-height: 0.9;
  font-weight: 400;
  margin: 80px 0 0;
  position: relative;
  font-size: 2.5rem;
  margin: 0;
  line-height: 1;
}

.how-we-work h2::before {
  content: '';
  height: 1px;
  width: 130px;
  position: absolute;
}

footer .container {
  padding: 50px 100px;
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.015);
}

.social-media {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.social-media ul > a {
  margin-right: 15px;
}

.social-media ul > a:last-of-type {
  margin-right: 0;
}

.social-media ul > a img {
  width: 20px;
  height: 20px;
}

.footer__nav {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__nav__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style-type: none;
  padding-left: 0;
}

.footer__nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #2d2640;
  font-weight: 700;
}

.footer__nav__link:hover {
  color: #837d87;
}

.footer__nav .text-gray {
  color: #837d87;
}

.footer__nav .text-gray:hover {
  color: #2d2640;
}
/*# sourceMappingURL=style.css.map */