@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #fafafa;
  line-height: 1.7;
}

.container {
  width: 1230px;
  max-width: 100%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px;
}

.flex > div:last-of-type {
  margin-right: 0;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fafafa;
  color: #e6e6e6;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px 25px;
  outline: none;
  cursor: pointer;
}

button:hover {
  color: #2d2640;
  background-color: #fafafa;
}

.hero__nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 130px 10px;
}

.hero__nav__list {
  list-style-type: none;
}

.hero__nav__item {
  margin-right: 20px;
}

.hero__nav__item:last-of-type {
  margin-right: 0;
}

.hero__nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #837d87;
  font-weight: 700;
}

.hero__nav__link.border {
  border: 1px solid #2d2640;
  padding: 9px 25px;
  color: #2d2640;
}

.hero__nav__link.border:hover {
  color: #fff;
  background-color: #2d2640;
}

.hero__nav__link:hover {
  color: #2b272f;
}

.hero__info {
  background-color: #2d2640;
  padding: 50px 130px 100px;
  position: relative;
}

.hero__info__desc {
  width: 485px;
}

.hero__info__heading {
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  font-size: 3.4rem;
  line-height: 0.9;
  font-weight: 400;
  margin: 80px 0 0;
  position: relative;
}

.hero__info__heading::before {
  content: '';
  height: 1px;
  width: 130px;
  position: absolute;
}

.hero__info__heading::before {
  top: -50px;
  left: 0;
  background-color: #fafafa;
}

.hero__info p {
  color: #cccccc;
  font-size: 0.9rem;
  margin: 35px 0;
}

.hero__info__img {
  position: absolute;
  right: 130px;
  top: 80px;
}

.hero__info__img img {
  width: 450px;
  height: 550px;
}

.pattern::before {
  content: '';
  position: absolute;
  background-image: url(../images/bg-pattern-intro-left-desktop.svg);
  background-repeat: no-repeat;
  width: 200px;
  height: 500px;
  bottom: -68%;
  left: 0;
}

.pattern::after {
  content: '';
  position: absolute;
  background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  width: 200px;
  height: 400px;
  top: 0px;
  right: 0px;
}

.main .container {
  padding: 130px;
}

.main__heading {
  font-family: "DM Serif Display", serif;
  color: #fafafa;
  font-size: 3.4rem;
  line-height: 0.9;
  font-weight: 400;
  margin: 80px 0 0;
  position: relative;
  color: inherit;
  margin-top: 150px;
  padding: 50px 0 80px;
}

.main__heading::before {
  content: '';
  height: 1px;
  width: 130px;
  position: absolute;
}

.main__heading::before {
  top: 0;
  left: 0;
  background-color: #837d87;
}

.main img {
  height: 70px;
  width: 70px;
}

.main h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 10px 0;
}

.main p {
  font-size: 0.9rem;
  color: #837d87;
}
/*# sourceMappingURL=style.css.map */