@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
	--darkBlue: hsl(243, 87%, 12%);
	--desaturatedBlue: hsl(238, 22%, 44%);
	--brightBlue: hsl(224, 93%, 58%);
	--moderateCyan: hsl(170, 45%, 43%);
	--lightGrayishBlue: hsl(240, 75%, 98%);
	--lightGray: hsl(0, 0%, 75%);
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: var(--darkBlue);
	margin: 0;
}

.container {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	padding: 40px 40px 60px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flex > div {
	flex: 1;
}

.flex > div:first-child {
	margin-right: 20px;
}

.flex > div:last-child {
	margin-left: 20px;
}

.flex-start {
	align-items: flex-start;
}

.flex-start ul:first-child {
	padding-left: 0;
	flex: 0.4;
}

.flex-start > ul:not(.begin) {
	padding-left: 0;
	flex: 0.2;
}

img {
	max-width: 100%;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 2.1rem;
	line-height: 2.5rem;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.9rem;
}

/* Nav */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0 50px;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin-left: 40px;
	font-family: 'Raleway', sans-serif;
}

nav ul li a {
	text-decoration: none;
	color: var(--darkBlue);
}

/* Form */
form {
	margin-top: 20px;
	display: flex;
}

input {
	border: 1px solid var(--lightGray);
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	flex: 0.7;
	margin-right: 15px;
}

button {
	border: none;
	color: white;
	background-color: var(--brightBlue);
	border-radius: 3px;
	padding: 15px 30px;
	font-weight: 700;
	font-size: 13px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	flex: 0.3;
}

input::placeholder {
	color: rgba(0, 0, 0, 0.3);
	font-size: 0.8rem;
}

/* Light-blue section */
.light-blue {
	background-color: var(--lightGrayishBlue);
	margin-top: 100px;
	position: relative;
}

.light-blue::before {
	content: '';
	background-image: url(./images/bg-curve-desktop.svg);
	background-size: cover;
	height: 60px;
	width: 100%;
	position: absolute;
	top: -60px;
	left: 0px;
}

.text-green {
	color: var(--moderateCyan);
	text-decoration: underline;
}

/* Testimony */
.testimony {
	margin-top: 40px;
	padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	width: 70%;
}

.testimony p {
	letter-spacing: 0.6px;
	font-size: 0.8rem;
	line-height: 1.4rem;
}

.user-info {
	display: flex;
	align-items: center;
}

.user-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.user-info h4 {
	margin: 0;
}

/* Blueish section */
.blueish {
	background-color: var(--desaturatedBlue);
	color: #fff;
	padding: 20px 0;
}

.blueish form {
	flex-direction: column;
}

.blueish form input {
	flex: 1;
}

.blueish form button {
	width: 200px;
	margin-top: 15px;
}

/* Footer */
footer {
	background-color: var(--darkBlue);
	padding-top: 40px;
}

footer .container {
	padding-bottom: 15px;
}

footer ul {
	list-style: none;
}

footer ul li {
	margin-bottom: 20px;
}

footer ul li a {
	color: #fff;
	text-decoration: none;
}

span {
	color: #fff;
	margin-left: 15px;
}

.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	color: white;
	text-decoration: none;
}

.attribution {
	color: #fff;
	text-align: right;
	font-size: 0.8rem;
}

.attribution a {
	text-decoration: none;
	color: var(--brightBlue);
}

@media screen and (max-width: 768px) {
	body {
		text-align: center;
	}

	.flex {
		flex-direction: column;
	}

	/* To get the form input and button expand full-width */
	.flex > div {
		width: 100%;
	}

	.flex > div:first-child {
		margin-right: 0;
	}

	.flex > div:last-child {
		margin-left: 0;
	}

	.mobile-reverse {
		flex-direction: column-reverse;
	}

	.testimony {
		width: 100%;
		text-align: left;
	}

	.attribution {
		text-align: center;
	}

	.blueish input {
		margin-right: 0;
	}

	.blueish form button {
		width: 100%;
	}

	footer ul {
		width: 100%;
	}

	.social-media {
		flex-direction: row;
		justify-content: center;
	}

	.logo-white {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 501px) {
	.logo {
		max-width: 30%;
	}

	nav ul li {
		margin-left: 20px;
	}
	nav ul {
		padding-left: 0;
	}

	.light-blue::before {
		background-image: url(./images/bg-curve-mobile.svg);
	}

	.mobile-reverse {
		flex-direction: column-reverse;
	}

	footer .container {
		padding-left: 30px;
		text-align: left;
	}
}
