.hero {
	background-image: url(../images/bg-header-mobile.png);
	background-size: cover;
	background-position: center top;
	padding-top: 100px;

	@include breakpoint(medium) {
		background-image: url(../images/bg-header-desktop.png);
	}

	&__subheadline {
    margin-bottom: 40px;
    line-height: 1.6;
	}
}
