.hero {
	background-image: url(../images/bg-header-mobile.png);
	background-size: cover;
	background-position: center top;
	// padding-top: 80px;

	@include breakpoint(medium) {
		background-image: url(../images/bg-header-desktop.png);
	}

	&__subheadline {
    margin-bottom: 35px;
	}
}
