.snippets {
  overflow: hidden;

	& img {
		@include breakpoint-less(small) {
			width: 100%;
		}
	}

	@include breakpoint(large) {
		&__flex {
			display: flex;
			align-items: center;

			&--right {
				text-align: left;
				width: 350px;
				margin-right: 200px;
				margin-left: 80px;
			}
		}
	}
}
