.container > div {
	flex: 1;
}

.hero .container {
	@include breakpoint-less(small) {
		flex-direction: column-reverse;
	}

	@include breakpoint(medium) {
		flex-direction: column-reverse;
	}

	@include breakpoint(large) {
		flex-direction: row;
	}
}

.hero {
	&__info {
		text-transform: uppercase;

		& h3 {
			color: $grayBlue;
			letter-spacing: 3.5px;

			@include breakpoint-less(small) {
				font-size: 1rem;
			}
		}

		& .text-new {
			font-family: $font__secondary;
			background-color: $darkBlue;
			color: $lightBlue;
			border-radius: 25px;
			padding: 5px 10px;
			margin-right: 10px;
		}
	}

	&__heading {
		font-family: $font__secondary;
		font-size: 4rem;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 30px;
		line-height: 1.1;

		@include breakpoint-less(small) {
			font-size: 3.3rem;
		}
	}

	&__desc {
		text-transform: initial;
		font-size: 1.4rem;
		color: rgba(0, 0, 0, 0.5);
		max-width: 350px;
		margin-bottom: 70px;
		line-height: 1.4;
	}

	& button {
		background-color: $red;
		color: $lightBlue;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: 700;
		font-family: $font__secondary;
		letter-spacing: 1.1px;
		padding: 15px 35px;
		border-radius: 10px;
		cursor: pointer;
		outline: none;
		border: none;

		&:active {
			transform: translateY(2px);
		}
	}

	& .text-preview {
		color: $grayBlue;
		font-family: $font__secondary;
		font-size: 1.4rem;
		letter-spacing: 3.5px;
		margin-left: 20px;

		@include breakpoint-less(small) {
			font-size: 1rem;
		}
	}
}

.hero {
	overflow: hidden;

	&__img {
		margin-right: -200px;

		@include breakpoint-less(small) {
			margin-bottom: 90px;
		}

		@include breakpoint(medium) {
			margin-bottom: 90px;
		}
	}
}
