// Fonts
$font__primary: 'Barlow', sans-serif;
$font__secondary: 'Barlow Condensed', sans-serif;


// Colors
$red: hsl(0, 100%, 77%);
$darkBlue: hsl(230, 29%, 20%);
$darkGrayBlue:hsl(230, 11%, 40%);
$grayBlue: hsl(231, 7%, 65%);
$lightBlue: hsl(207, 33%, 95%);

// Media Queries
$breakpoints: (
	small: 570px,
	medium: 571px,
	large: 900px,
);

@mixin breakpoint($size) {
	$breakpoint-value: map-get($breakpoints, $size);

	@media screen and (min-width: $breakpoint-value) {
		@content;
	}
}

@mixin breakpoint-less($size) {
	$breakpoint-value: map-get($breakpoints, $size);

	@media screen and (max-width: $breakpoint-value) {
		@content;
	}
}
